:root {

  /* color */
  --txt-white: #FFFFFF;
  --txt-grey: #333333;
  --txt-purple: #9D5CD0;
  --txt-purple-hover: #C283F3;
  --txt-purple-active: #7943A4;

  /* background-color */
  --bg-header: #000;
  --bg-purple-active: rgba(194, 131, 243, .4);
  --bg-nav: rgba(0, 0, 0, 0.4);
  --bg-scroll: rgba(0, 0, 0, 0.4);

  /* border */
  --br-white: #fff;
  --br-tab-color: #7943A4;
  --br-linked-color: #9D5CD0;
  --br-hover-color: #D1A9F0;

  /* button */
  --btn-color: #9D5CD0;
  --btn-active-color: #7943A4;
  --btn-border-focus: #7943A4;
  --btn-border-hover: #D1A9F0;

  /* font-size */
  --fs-details: 12px;
  --fs-text: 16px;
  --fs-nav: 18px;
  --fs-btn: 18px;
  --fs-info: 24px;
  --fs-title: 48px;
}

::-moz-selection {
  color: #D1A9F0;
}

::selection {
  color: #D1A9F0;
}

/* Main style */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-white);
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

input {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: 25px 40px;
  line-height: 1;
  text-align: center;
  font-size: var(--fs-btn);
  font-weight: 600;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1630px;
}

.title {
  font-size: var(--fs-title);
  font-weight: normal;
  letter-spacing: -1px;
}

/* header */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.header::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 800px;
  background: url('/img/1.header/first-picture.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
  -webkit-animation: resize 10s alternate linear infinite;
  animation: resize 10s alternate linear infinite;
}

@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(0.96, 0.96);
    transform: scale(0.96, 0.96);
  }

  25% {
    -webkit-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97);
  }

  50% {
    -webkit-transform: scale(0.98, 0.98);
    transform: scale(0.98, 0.98);
  }

  75% {
    -webkit-transform: scale(0.99, 0.99);
    transform: scale(0.99, 0.99);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes resize {
  0% {
    -webkit-transform: scale(0.96, 0.96);
    transform: scale(0.96, 0.96);
  }

  25% {
    -webkit-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97);
  }

  50% {
    -webkit-transform: scale(0.98, 0.98);
    transform: scale(0.98, 0.98);
  }

  75% {
    -webkit-transform: scale(0.99, 0.99);
    transform: scale(0.99, 0.99);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__top {
  padding-top: 28px;
  padding-bottom: 29px;
  background-color: var(--bg-header);
}

.burger__img {
  width: 36px;
  height: 29px;
}

.search__img {
  width: 30px;
  height: 29px;
}

.burger-btn,
.search-btn {
  display: none;
}

.header__top-nav {
  margin-left: 179px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  font-size: var(--fs-nav);
}

.header__nav-item:not(:last-child) {
  margin-right: 64px;
}

.header__nav-item:nth-child(3) {
  margin-right: 66px;
}

.header__nav-item:nth-child(4),
.header__nav-item:nth-child(6) {
  margin-right: 67px;
}

.header__nav-item:nth-child(7) {
  margin-right: 278px;
}

.header__link {
  padding-left: 10px;
}

.header-logo-link,
.header__nav-link,
.header__link {
  color: var(--txt-white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__link:before {
  background: url('/img/Signs/enter-sign.png') no-repeat;
  -webkit-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.header__link::before {
  content: '';
  position: relative;
  left: -4px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('/img/Signs/enter-sign.png') no-repeat;
}

.header__nav-item:last-child {
  width: 77px;
  font-size: var(--fs-nav);
}

.header__list {
  margin-bottom: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--bg-nav);
}

.container__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-items {
  position: relative;
  font-size: var(--fs-nav);
  font-weight: 400;
  color: var(--txt-white);
}

.header__list-items:not(:last-child) {
  margin-right: 78px;
}

.header__list-items:nth-child(2),
.header__list-items:nth-child(3),
.header__list-items:nth-child(4) {
  margin-right: 83px;
}

.header__list-link {
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 22px;
  color: var(--txt-white);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__list-link::after {
  content: '';
  position: relative;
  top: 1px;
  left: 6px;
  display: inline-block;
  padding-right: 15px;
  width: 10px;
  height: 10px;
  background: url('/img/Signs/list-sign.png') no-repeat;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.header__list-search {
  margin-left: 290px;
  padding-left: 2px;
  width: 260px;
  font-size: var(--fs-nav);
  font-weight: 400;
  color: var(--txt-white);
}

.search__btn {
  position: relative;
  top: 6px;
  left: 1px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.header__search-input {
  border: 0;
  border-bottom: 1px solid var(--br-white);
  outline: none;
  background-color: transparent;
  caret-color: var(--br-hover-color);
  -webkit-transition: border-bottom .3s ease-in-out;
  -o-transition: border-bottom .3s ease-in-out;
  transition: border-bottom .3s ease-in-out;
}

.header__list-search .search-sign path,
.header__list-search .search-sign rect {
  fill: var(--br-white);
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.header__search-input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--txt-white);
}

.header__search-input::-moz-placeholder {
  font-weight: 400;
  color: var(--txt-white);
}

.header__search-input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--txt-white);
}

.header__search-input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--txt-white);
}

.header__search-input::placeholder {
  font-weight: 400;
  color: var(--txt-white);
}

/* hero */

.hero {
  margin-bottom: 159px;
}

.hero .hero-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero-title {
  margin-bottom: 3px;
  margin-left: -3px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 2px;
  color: var(--txt-white);
}

.hero-text {
  margin-bottom: 95px;
  max-width: 550px;
  font-size: var(--fs-nav);
  font-weight: 600;
  line-height: 1.6;
  word-spacing: 3px;
  color: var(--txt-white)
}

.hero-btn {
  width: 314px;
  padding: 27px;
  color: var(--txt-white);
  background-color: var(--btn-color);
  border: none;
}

/* Scroll */

.header__list-scroll {
  position: absolute;
  top: 44px;
  left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 300px;
  height: 300px;
  background-color: var(--bg-scroll);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  visibility: hidden;
}

.scroll__item {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 7px;
  padding-left: 14px;
  height: 40px;
  overflow: hidden;
  outline: transparent;
}

.scroll__item:last-child {
  margin-bottom: 50px;
}

.scroll__item:not(:last-child) {
  margin-bottom: 20px;
}

.scroll__item::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 220px;
  height: 40px;
}

.scroll__item:first-child::before {
  background: rgba(194, 131, 243, 0.9) url('/img/1.header/second-picture.png') 50% no-repeat;
  background-size: cover;
}

.scroll__item:nth-child(2)::before {
  background: rgba(194, 131, 243, 0.9) url('/img/1.header/third-picture.png') 50% no-repeat;
  background-size: cover;
}

.scroll__item:nth-child(3)::before {
  background: rgba(194, 131, 243, 0.9) url('/img/1.header/first-picture.jpg') 50% no-repeat;
  background-size: cover;
}

.scroll__item:last-child::before {
  background: rgba(194, 131, 243, 0.9) url('/img/1.header/second-picture.png') 20% no-repeat;
  background-size: cover;
}

.scroll__link {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
}

.simplebar-vertical {
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 19px;
  visibility: visible !important;
  width: 2px !important;
  background-color: #000000 !important;
}

.simplebar-scrollbar {
  padding-left: 10px;
  padding-right: 10px;
  width: 3px !important;
  height: 28px !important;
  background-color: #9D5CD0;
}

/* about us */

.about-us {
  margin-bottom: 70px;
}

.about-us__title {
  margin-bottom: 20px;
  font-size: var(--fs-title);
  color: var(--txt-grey);
}

.about-us__text {
  max-width: 1075px;
  font-size: var(--fs-text);
  line-height: 32px;
  color: var(--txt-grey);
  letter-spacing: 0px;
}

/* gallery */

.gallery::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 995px;
  background: url('/img/2.gallery/background.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
}

.container__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 38px;
  height: 995px;
}

.gallery__select {
  margin-right: 50px;
  margin-bottom: 540px;
  max-height: 300px;
}

.gallery__filter {
  display: block;
}

.gallery__form {
  margin-right: 0px;
  width: 400px;
}

.gallery__swiper {
  position: relative;
  margin-top: 128px;
}

.gallery__title {
  margin-bottom: 25px;
}

.gallery__offer-text {
  line-height: 2;
  letter-spacing: 0.3px;
}

.gallery__title,
.gallery__offer-text {
  color: var(--txt-white);
}

.gallery__offer {
  width: 386px;
}

.gallery__offer-link {
  color: var(--txt-purple-hover);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

/* Select */

.choices {
  margin-top: 18px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 6px;
  border: 1px solid var(--br-white);
  border-radius: 6px 6px 6px 6px;
}

.choices__inner {
  min-height: 40px;
  font-size: var(--fs-text);
  color: var(--txt-white);
  background-color: transparent;
  border: 1px solid var(--br-white);
}

.choices__list--dropdown {
  color: #999999;
  background-color: transparent;
  border-radius: 6px 6px 6px 6px;
}

.choices__list--dropdown .choices__item--selectable {
  font-size: var(--fs-text);
  border-top: 1px solid #999999;
}

.choices__list--dropdown.is-active {
  border-bottom: 1px solid #999999;
}

.gallery__label {
  font-weight: 600;
  color: var(--txt-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.is-selected,
.choices[data-type*=select-one]:after {
  display: none;
}

.choices__list--dropdown .choices__item {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 11px;
}

.choices__list--single {
  padding-top: 2px;
  padding-left: 5px;
}

.choices__inner::after {
  content: '';
  position: absolute;
  top: 43%;
  right: 3.5%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('/img/Signs/select-arrow.svg') center center no-repeat;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.choices:focus .choices__inner::after {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.choices .choices__inner::after {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}


/* Swiper */

.swiper-container {
  display: block;
  margin-right: 0;
  margin-left: 0;
  padding-left: 2px;
  padding-top: 3px;
  max-width: 1155px;
  height: 790px;
}

.pagination {
  position: absolute;
  top: -4.9%;
  left: -0.5%;
  width: 148px;
  height: 50px;
}

.swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 350px !important;
  height: 350px !important;
  background-size: cover;
}

.swiper-slide::after {
  content: '';
  position: relative;
  width: 300px;
  height: 300px;
  background: url('/img/Signs/hover-gallery.svg') center no-repeat;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scale(0.001);
  -ms-transform: scale(0.001);
  transform: scale(0.001);
}

.swiper-button-next .swiper__sign path,
.swiper-button-prev .swiper__sign path {
  fill: #ECECEC;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.swiper-button-next path[stroke="black"],
.swiper-button-prev path[stroke="black"] {
  fill: none;
  stroke: black;
  -webkit-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
  transition: stroke .3s ease-in-out;
}

.swiper-slide:nth-child(3n+2),
.swiper-slide:nth-child(3n+1) {
  margin-right: 50px !important;
}

.swiper-slide:nth-child(n+9) {
  margin-top: 4px !important;
}

.slide1 {
  background: rgba(194, 131, 243, 0.4) url('/img/2.gallery/Picture№1.jpg') center center no-repeat;
}

.slide2 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№2.jpg") center center no-repeat;
}

.slide3 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№3.jpg") center center no-repeat;
}

.slide4 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№7.jpg") center center no-repeat;
}

.slide5 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№8.jpg") center center no-repeat;
}

.slide6 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№9.jpg") center center no-repeat;
}

.slide7 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№13.jpg") center center no-repeat;
}

.slide8 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№14.jpg") center center no-repeat;
}

.slide9 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№15.jpg") center center no-repeat;
}

.slide10 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№4.jpg") center center no-repeat;
}

.slide11 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№5.jpg") center center no-repeat;
}

.slide12 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№6.jpg") center center no-repeat;
}

.slide13 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№10.jpg") center center no-repeat;
}

.slide14 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№11.jpg") center center no-repeat;
}

.slide15 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№12.jpg") center center no-repeat;
}

.slide16 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№16.jpg") center center no-repeat;
}

.slide17 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№17.jpg") center center no-repeat;
}

.slide18 {
  background: rgba(194, 131, 243, 0.4) url("/img/2.gallery/Picture№18.jpg") center center no-repeat;
}

.swiper-pagination-fraction {
  bottom: 48px;
  left: 25%;
  width: 50%;
  color: var(--txt-white);
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 0;
  outline: 0;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0%;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.swiper-button-prev {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

/* hover */

.header-logo-link:hover,
.header__nav-link:hover,
.header__link:hover {
  color: var(--txt-purple-hover);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__link:hover {
  padding-left: 3px;
}

.header__link:hover::before {
  width: 20px;
  background: url('/img/Signs/enter-sign-hover.png') no-repeat;
  -webkit-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.header__list-link:hover {
  color: var(--txt-purple);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__list-link:hover::after {
  top: -2px;
  left: 6px;
  width: 10px;
  height: 10px;
  background: url('/img/Signs/list-sign-hover.png') no-repeat;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.header__search-input:hover {
  border-bottom: 1px solid var(--br-hover-color);
  -webkit-transition: border-bottom .3s ease-in-out;
  -o-transition: border-bottom .3s ease-in-out;
  transition: border-bottom .3s ease-in-out;
}

.header__list-search:hover .search-sign path,
.header__list-search:hover .search-sign rect {
  fill: var(--br-hover-color);
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.header__list-items:hover .header__list-scroll,
.header__list-items:hover .simplebar-vertical {
  display: inline-block;
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hero .hero-btn:hover {
  -webkit-box-shadow: 0 0 0 3px var(--btn-border-hover);
  box-shadow: 0 0 0 3px var(--btn-border-hover);
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.scroll__item:hover {
  outline: 2px solid var(--btn-color);
}

.swiper-button-next:hover .swiper__sign path,
.swiper-button-prev:hover .swiper__sign path {
  fill: #9D5CD0;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.swiper-button-next:hover path[stroke="black"],
.swiper-button-prev:hover path[stroke="black"] {
  fill: none;
  stroke: #fff;
  -webkit-transition: stroke .3s ease-in-out;
  -o-transition: stroke .3s ease-in-out;
  transition: stroke .3s ease-in-out;
}

.gallery__offer-link:hover {
  color: var(--txt-purple);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.swiper-slide:hover::after {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* focus */

.header-logo-link:focus,
.header__nav-link:focus,
.header__link:focus,
.header__list-link:focus,
.header__list-search:focus {
  outline: 2px solid var(--br-tab-color);
}

.hero .hero-btn:focus {
  -webkit-box-shadow: 0 0 0 3px var(--btn-border-focus);
  box-shadow: 0 0 0 3px var(--btn-border-focus);
}

.header__search-input:focus {
  color: var(--txt-white);
}

.header__list-search .header__search-input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.header__list-search:focus .search-sign path,
.header__list-search:focus .search-sign rect {
  fill: var(--br-hover-color);
}

.scroll__link:focus {
  color: var(--br-hover-color);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  -webkit-box-shadow: 0 0 0 2px var(--br-tab-color);
  box-shadow: 0 0 0 2px var(--br-tab-color);
}

.swiper-slide:focus {
  outline: 3px solid var(--btn-border-focus)
}

.choices:focus,
.gallery__offer-link:focus {
  outline: 1px solid var(--btn-border-focus)
}

/* active */

.header-logo-link:active,
.header__nav-link:active,
.header__link:active,
.header__list-link:active {
  color: var(--txt-purple-active);
  outline: none;
  border: none;
  -webkit-transition: color .1s ease-in-out;
  -o-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.header__link:active {
  padding-left: 3px;
}

.header__link:active::before {
  width: 20px;
  background: url('/img/Signs/enter-sign-active.png') no-repeat;
  -webkit-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

.header__list-link:active::after {
  top: -2px;
  left: 6px;
  width: 10px;
  height: 10px;
  background: url('/img/Signs/list-sign-active.png') no-repeat;
  -webkit-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

.hero-btn:active {
  background-color: var(--btn-active-color);
}

.scroll__item:active::before {
  outline: 2px solid #D1A9F0;
  background-blend-mode: hard-light, screen, normal;
}


.swiper-button-next:active,
.swiper-button-prev:active {
  -webkit-box-shadow: 0 0 0 2px #D1A9F0;
  box-shadow: 0 0 0 2px #D1A9F0;
}

.gallery__offer-link:active {
  color: var(--txt-purple-active);
}

.swiper-slide:active {
  background-blend-mode: hard-light, screen, normal;
}

/* max-width: 1919px */

@media (max-width: 1919px) {

  .container__header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__top-nav,
  .header__top-link {
    margin-left: 0;
  }

  .header__nav-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .container__header-list,
  .header__list-info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__list-items:not(:last-child) {
    margin-right: 60px;
  }

  .header__list-search {
    margin-left: 0;
  }

  /* gallery */

  .container__gallery,
  .gallery::before {
    height: 839px;
  }

  .gallery__select {
    margin-bottom: 325px;
  }

  .gallery__form {
    width: 280px;
  }

  .gallery__offer {
    width: 284px;
  }

  .swiper-container {
    max-width: 930px;
  }

  .swiper-wrapper {
    width: 2990px !important;
  }

  .gallery__swiper,
  .swiper-container,
  .swiper-container-initialized,
  .swiper-container-horizontal,
  .swiper-container-multirow {
    max-width: 920px;
    height: 605px;
  }

  .swiper-slide:nth-child(3n+2),
  .swiper-slide:nth-child(3n+1) {
    margin-right: 42px !important;

  }

  .swiper-slide {
    width: 280px !important;
    height: 280px !important;
  }

  .swiper-slide::after {
    width: 230px;
    height: 230px;
  }

  .swiper-slide:nth-child(n+10) {
    margin-top: 34px !important;
  }

  .slide3,
  .slide6,
  .slide12,
  .slide15 {
    margin-right: 40px !important;
  }

}

@media (max-width: 1392px) {

  .header::before {
    height: 728px;
  }

  .burger-btn {
    content: '';
    position: relative;
    display: inline-block;
    padding-right: 0;
    border: none;
    background-color: transparent;
  }

  .burger-btn:hover path,
  .burger-btn:hover rect {
    fill: var(--btn-border-hover);
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .burger-btn path,
  .burger-btn rect {
    fill: var(--br-white);
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .burger-btn:active path,
  .burger-btn:active rect {
    fill: var(--btn-active-color);
  }

  .search-btn {
    content: '';
    position: relative;
    display: inline-block;
    width: 40px;
    background-color: transparent;
    border: none;
  }

  .search-btn:hover path,
  .search-btn:hover rect {
    fill: var(--btn-border-hover);
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .search-btn path,
  .search-btn rect {
    fill: var(--br-white);
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .search-btn:active path,
  .search-btn:active rect {
    fill: var(--btn-active-color);
  }

  .header__top-nav,
  .header__top-link,
  .header__list {
    position: absolute;
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-350%);
    -ms-transform: translateX(-350%);
    transform: translateX(-350%);
  }

  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__list {
    top: 100px;
  }

  .burger-is-active {
    top: 98px;
    left: 0px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: visible;
  }

  .header__top-link {
    top: 370px;
    left: 105px;
    width: 100px;
    background-color: transparent;
  }

  .header__list-search {
    margin-right: 25px;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .header__nav-item:first-child {
    margin-top: 20px;
  }

  .header__nav-item:last-child {
    margin-bottom: 23px;
  }

  .header__list-link {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .header__nav-item {
    margin-bottom: 15px;
    margin-left: 100px;
  }

  .search-is-active {
    top: 98px;
    right: 0;
    width: 50%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .container__header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .header__list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__list-items {
    margin-bottom: 25px;
    padding-right: 0;
    padding-left: 10px;
  }

  .header__list-items:last-child {
    margin-bottom: 35px;
  }

  .header__list-link:active {
    padding-right: 14px;
  }

  .header__list-scroll {
    top: -20px;
    left: -293px;
    height: 310px;
  }

  .header__list-items:nth-child(2) .header__list-scroll {
    top: -66px;
  }

  .header__list-items:nth-child(3) .header__list-scroll {
    top: -111px;
  }

  .header__list-items:nth-child(4) .header__list-scroll {
    top: -156px;
  }

  .header__list-items:last-child .header__list-scroll {
    top: -202px;
  }

  .header__search-input {
    width: 150px;
  }

  .header__list-link:active::after {
    top: -4px;
    width: 6px;
    -webkit-transform: rotateZ(270deg);
    -ms-transform: rotate(270deg);
    transform: rotateZ(270deg);
  }

  /* gallery */

  .gallery__swiper,
  .swiper-container,
  .swiper-container-initialized,
  .swiper-container-horizontal,
  .swiper-container-multirow {
    max-width: 615px;
  }
}

@media(max-width: 1024px) {

  .container {
    max-width: 965px;
  }

  /* header */

  .header::before {
    height: 768px;
    background: url('/img/1024/first.jpg') no-repeat;
  }

  .header__top {
    margin-bottom: 65px;
    padding-bottom: 27px;
  }

  .header__logo-img {
    width: 220px;
    height: 42px;
  }

  .container__hero {
    padding-left: 18px;
  }

  .hero {
    margin-bottom: 151px;
  }

  .hero-title {
    margin-bottom: 0;
  }

  .hero-text {
    margin-top: 12px;
    margin-bottom: 134px;
    max-width: 700px;
    line-height: 1.65;
  }

  /* about us */

  .container__about-us {
    padding-left: 18px;
  }

  .about-us__title {
    margin-bottom: 21px;
  }

  .about-us__text {
    max-width: 920px;
  }

  /* gallery */

  .container__gallery {
    padding-left: 20px;
  }

  .gallery__title {
    margin-top: 47px;
  }

  .choices__list--single {
    padding-left: 6px;
  }

  .choices__inner::after {
    right: 4.8%;
  }

  .gallery__select {
    margin-bottom: 350px;
  }

  .pagination {
    top: -6.6%;
    left: -1.3%;
  }

  .swiper-slide {
    margin-right: 42px !important;
    background-size: cover;
  }

  .swiper-slide:nth-child(n+10) {
    margin-top: 20px !important;
  }
}

@media(max-width: 952px) {

  .container__gallery,
  .gallery::before {
    height: 1169px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .gallery__swiper,
  .swiper-container,
  .swiper-container-initialized,
  .swiper-container-horizontal,
  .swiper-container-multirow {
    margin-bottom: 8px;
    padding-left: 3px;
    max-width: 680px;
  }

  .swiper-wrapper {
    width: 3180px !important;
  }

  .gallery__select {
    margin-bottom: 40px;
  }

  .gallery__offer {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .swiper-slide {
    width: 318px !important;
  }

  .pagination {
    top: -6.3%;
  }

  .swiper-slide::after {
    width: 260px;
    height: 230px;
  }

  .swiper-slide,
  .swiper-slide.slider3 
  .swiper-slide.slide12,
  .swiper-slide:nth-child(3n+2),
  .swiper-slide:nth-child(3n+1) {
    margin-right: 31px !important;
  }

  .swiper-slide.slide4,
  .swiper-slide.slide6,
  .swiper-slide.slide8,
  .swiper-slide.slide13,
  .swiper-slide.slide15,
  .swiper-slide.slide17 {
    margin-right: 32px !important;  
  }

  .swiper-slide.slide9 {
    margin-top: 0 !important;
  }

  .swiper-slide:nth-child(n+10) {
    margin-top: 25px !important;
  }

  .gallery__offer-text {
    letter-spacing: 0.4px;
  }
}

@media(max-width: 768px) {

  .container {
    max-width: 710px;
  }

  .header::before {
    height: 768px;
    background: url('/img/768/header.jpg') no-repeat;
  }

  .gallery::before {
    background: url("/img/768/gallery.jpg") no-repeat;
  }

  .burger-is-active,
  .search-is-active {
    top: 98px;
  }

  .header__top-link {
    top: 370px;
  }

  .burger-is-active,
  .search-is-active {
    width: 50%;
  }

  .header__list-link:active {
    padding-right: 14px;
  }

  .header__list-scroll {
    left: -215px;
    width: 220px;
  }

  /* about us */

  .container__about-us {
    padding-left: 22px;
  }

  .about-us__text {
    max-width: 670px;
  }
}

@media(max-width: 710px) {

  .header {
    margin-bottom: 55px;
    max-height: 355px;
  }

  .header::before {
    max-height: 355px;
  }

  .container__header {
    padding-left: 7px;
    padding-right: 7px;
  }

  .container__header-list {
    padding-right: 10px;
    padding-left: 0px;
  }

  .header__link,
  .header__search-input,
  .header__nav-link,
  .header__list-link,
  .scroll__link {
    font-size: 11px;
  }

  .header__top {
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .header-logo-link,
  .header__logo-img {
    width: 97px;
    height: 22px;
  }

  .burger-is-active,
  .search-is-active {
    top: 44px;
  }

  .header__nav-item {
    margin-bottom: 5px;
    padding-left: 15px;
  }

  .header__nav-item:first-child {
    margin-top: 5px;
  }

  .header__nav-item:not(:last-child) {
    margin-left: 20px;
  }

  .header__nav-item:last-child {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .header__list {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .header__list-items {
    margin-bottom: 5px;
    padding-right: 0;
  }

  .header__list-items:last-child {
    margin-bottom: 34px;
    padding-bottom: 20px;
  }

  .header__list-search {
    margin-right: 20px;
    margin-bottom: 15px;
    width: 120px;
  }

  .header__search-input {
    margin-top: 0;
    width: 82px;
  }

  .search-btn {
    left: 0;
    top: 4px;
    margin-right: 0;
    padding: 0;
  }

  .header__top-link {
    top: 230px;
    left: 12px;
  }

  .header__top-link:active,
  .header__top-link:hover {
    left: 20px;
  }

  .header__link::before {
    top: 1px;
    width: 10px;
    height: 10px;
    background-size: 100%;
  }

  .header__link:hover:before {
    top: 3px;
    width: 12px;
    height: 12px;
    background-size: 100%;
  }

  .search-sign {
    width: 15px;
    height: 15px;
  }

  .header__link:active:before {
    width: 12px;
    height: 12px;
    background-size: 100%;
  }

  .header__list-link::after {
    top: 1px;
    left: 3px;
    padding-right: 5px;
  }

  .header__list-link:active::after {
    top: 1px;
  }

  .header__list-scroll {
    top: -5px;
    left: -162px;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 215px;
    width: 171px;
  }

  .header__list-items:not(:last-child),
  .header__list-items {
    margin-right: 0px;
  }

  .header__list-link {
    padding-right: 10px;
  }

  .header__list-items:nth-child(2) .header__list-scroll {
    top: -33px;
  }

  .header__list-items:nth-child(3) .header__list-scroll {
    top: -59px;
  }

  .header__list-items:nth-child(4) .header__list-scroll {
    top: -84px;
  }

  .header__list-items:last-child .header__list-scroll {
    top: -110px;
  }

  .scroll__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .scroll__item:last-child {
    margin-bottom: 10px;
  }

  .container__hero {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-title {
    font-size: 33px;
    text-align: center;
  }

  .hero-text {
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 1.4;
  }

  .burger__img {
    width: 21px;
    height: 15px;
  }

  .search__img {
    width: 16px;
    height: 16px;
  }

  .container__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 11px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-btn {
    padding: 13px 15px;
    width: 200px;
    font-size: 12px;
  }

  /* about us */

  .about-us {
    margin-bottom: 42px;
  }

  .container__about-us {
    margin-left: 0;
  }

  .title {
    font-size: 28px;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__text {
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery */

  .gallery__swiper,
  .swiper-container,
  .swiper-container-initialized,
  .swiper-container-horizontal,
  .swiper-container-multirow {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
    max-width: 300px;
    height: 380px;
  }

  .swiper-slide {
    width: 290px !important;
    height: 367px !important;
  }

  .swiper-slide::after {
    width: 230px;
    height: 290px;
  }

  .container__gallery,
  .gallery::before {
    height: 962px;
  }

  .gallery__title {
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .choices {
    margin-top: 13px;
  }

  .gallery__form {
    width: 290px;
  }

  .gallery__swiper {
    margin-top: 78px;
    height: 413px;
  }

  .pagination {
    top: 99%;
    left: 24.7%;
  }

  .swiper-slide.slide3, .swiper-slide.slide12, .swiper-slide.slide15, .swiper-slide:nth-child(3n+2), .swiper-slide:nth-child(3n+1),
  .slide4, .slide6,
  .swiper-slide {
    margin-right: 34px !important;
}

  .swiper-slide:nth-child(n+10) {
    margin-top: 0 !important;
  }

  .slide1 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№1.jpg') center center no-repeat;
  }

  .slide2 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№2.jpg') center center no-repeat;
  }

  .slide3 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№3.jpg') center center no-repeat;
  }

  .slide4 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№4.jpg') center center no-repeat;
  }

  .slide5 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№5.jpg') center center no-repeat;
  }

  .slide6 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№6.jpg') center center no-repeat;
  }

  .slide7 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№7.jpg') center center no-repeat;
  }

  .slide8 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№8.jpg') center center no-repeat;
  }

  .slide9 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№9.jpg') center center no-repeat;
  }

  .slide10 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№10.jpg') center center no-repeat;
  }

  .slide11 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№11.jpg') center center no-repeat;
  }

  .slide12 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№12.jpg') center center no-repeat;
  }

  .slide13 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№13.jpg') center center no-repeat;
  }

  .slide14 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№14.jpg') center center no-repeat;
  }

  .slide15 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№15.jpg') center center no-repeat;
  }

  .slide16 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№16.jpg') center center no-repeat;
  }

  .slide17 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№17.jpg') center center no-repeat;
  }

  .slide18 {
    background: rgba(194, 131, 243, 0.4) url('/img/320/Picture№18.jpg') center center no-repeat;
  }
}

@media(max-width: 320px) {

  .header {
    margin-bottom: 53px;
  }

  .container {
    max-width: 320px;
  }

  .header::before {
    width: 100%;
    height: 355px;
    background: url('/img/320/header.jpg') no-repeat;
  }

  .search-btn {
    padding-right: 0;
    padding-left: 0;
    width: 31px;
  }

  .header__nav-item:not(:last-child) {
    margin-left: 5px;
  }

  .header__nav-item:last-child {
    margin-left: 1px;
  }

  .container__hero {
    margin-top: 10px;
    padding: 0;
  }

  .hero-title {
    letter-spacing: normal;
  }

  .hero-text {
    margin-top: 12px;
    margin-bottom: 39px;
    max-width: 275px;
    font-weight: normal;
    word-spacing: 1px;
  }

  .container__about-us,
  .container__gallery {
    padding-left: 15px;
  }
}